[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
seaborn = "*"
bentoml = "*"
jupyter = "*"
xgboost = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.9"
